[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
pyqt6 = "*"

[dev-packages]
pyinstaller = "*"
keepachangelog-manager = "*"

[requires]
python_version = "3.13"
